.item {
  display: flex;
  gap: 24px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  padding: 24px;
}

.imageWrap {
  width: 290px;
  height: 310px;
  border-radius: 20px;
  overflow: hidden;
}

.image {
  object-fit: contain;
  object-position: center;
}

.nameWrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.name {
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
}

.infoWrap {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.rating {
  margin-left: 4px;
  margin-right: 16px;
  text-decoration: underline;
}

.location {
  margin-left: 4px;
}

.descriptionWrap {
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 24px;
}

.description {
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--gray-color);
}

.detailsList {
  display: flex;
  gap: 8px;
}

.detailsItem {
  border-radius: 100px;
  padding: 12px 18px;
  background: #f2f4f7;
}

.detailsItemName {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.moreBtn {
  border-radius: 200px;
  padding: 16px 40px;
  background-color: var(--accent-color);
  color: var(--white-color);
}
