.modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  z-index: 10000;
  height: 80%;
  width: 90%;
  background-color: white;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  padding: 14px;
}

.modal::-webkit-scrollbar {
  width: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

.modal::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.modal::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.container {
  padding-left: 14px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.closeBtn {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
  background-color: transparent;
}

.closeBtn:hover {
  background-color: #f1f1f1;
}

.iconClose {
  stroke: black;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.infoWrap {
  margin-bottom: 10px;
}

.ratingWrap,
.locationWrap {
  display: flex;
  align-items: center;
}

.ratingWrap {
  margin-bottom: 8px;
}

.rating,
.location {
  margin-left: 4px;
}

.iconMap {
  fill: transparent;
  stroke: var(--main-color);
}

.price {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 14px;
}

.imageList {
  width: 100%;
  margin-bottom: 14px;
}

.imageItem {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 8px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.description {
  color: var(--gray-color);
  margin-bottom: 44px;
}

.moreBtnWrap {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #1018283d;
  padding-bottom: 14px;
  margin-bottom: 24px;
}

.moreBtn {
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  border-bottom: 1px solid #1018283d;
  transition: 0.3s ease-in-out;
}

.moreBtn:hover,
.moreBtn:focus {
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.moreBtnActive {
  color: var(--accent-color);
}

/*FEATURES*/
.detailsList {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.detailsItem {
  display: flex;
  gap: 8px;
  align-items: center;
  border-radius: 100px;
  padding: 10px 14px;
  background-color: #f2f4f7;
}

.detailsItemName {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

.iconDetails {
  fill: transparent;
  stroke: var(--main-color);
}

.infoTable {
  width: 100%;
  border-bottom: 1px solid rgba(16, 24, 40, 0.1);
  margin-bottom: 24px;
}

.infoTable caption {
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  border-bottom: 1px solid rgba(16, 24, 40, 0.1);
  padding-bottom: 14px;
  margin-bottom: 14px;
}

.infoTable th,
.infoTable td {
  padding-bottom: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
}

.infoTable th {
  text-align: left;
}

.infoTable td {
  text-align: right;
}

/*REVIEWS*/
.reviewItem {
  display: flex;
  align-items: start;
  gap: 24px;
  margin-bottom: 24px;
}

.reviewName {
  margin-bottom: 8px;
  width: 100px;
  width: 80px;
}

.ratingIcon {
  display: flex;
}

.filledStar {
  fill: #ffc531;
}

.emptyStar {
  fill: var(--gray-color);
}

.reviewComment {
  color: var(--gray-color);
}

@media screen and (min-width: 768px) {
  .modal {
    max-height: 80%;
    max-width: 80%;
    padding: 24px;
  }

  .container {
    padding-left: 24px;
  }

  .closeBtn {
    width: 25px;
    height: 25px;
  }

  .title {
    font-size: 24px;
  }

  .infoWrap {
    display: flex;
    gap: 16px;
    margin-bottom: 12px;
  }

  .ratingWrap {
    margin-bottom: 0;
  }

  .price {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .imageList {
    display: flex;
    gap: 5px;
    width: 100%;
    margin-bottom: 24px;
  }

  .moreBtn {
    font-size: 24px;
  }

  .moreBtnWrap {
    gap: 40px;
    justify-content: start;
    padding-bottom: 24px;
    margin-bottom: 44px;
  }

  .detailsList {
    margin-bottom: 44px;
  }

  .detailsItem {
    padding: 12px 18px;
  }

  .detailsItemName {
    font-size: 16px;
  }

  .infoTable caption {
    font-size: 20px;
    padding-bottom: 24px;
    margin-bottom: 24px;
  }

  .infoTable th,
  .infoTable td {
    padding-bottom: 24px;
    font-size: 16px;
  }

  .reviewName {
    width: 100px;
  }
}

@media screen and (min-width: 1100px) {
  .infoBookWrap {
    display: flex;
    gap: 24px;
  }

  .infoWrap {
    width: 430px;
  }

  .infoTable {
    border-bottom: none;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1440px) {
  .modal {
    height: 500px;
    max-width: 982px;
  }
}
