.wrap {
  margin-top: 60px;
}

.descriptionWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.iconLike {
  fill: rgb(237, 237, 237);
}

.title {
  margin-bottom: 10px;
  font-size: 16px;
}

.description {
  font-size: 12px;
  color: var(--gray-color);
  max-width: 380px;
}

@media screen and (min-width: 768px) {
  .iconLike {
    width: 200px;
    height: 200px;
  }
  
  .title {
    margin-bottom: 8px;
    font-size: 24px;
  }

  .description {
    font-size: 16px;
  }
}



@media screen and (min-width: 1440px) {
  .wrap {
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
}
