.nav {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;

}

.link {
  color: red;
}

.active {
  padding-bottom: 5px;
  border-bottom: 1px solid red;
}
