.section {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--white-color);
  padding: 20px 10px;
}
.nav {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.link {
}

.active {
  color: var(--accent-color);
}
