.section {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5000;
  background-color: #ffffff55;
}

.nav {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.link {
  font-weight: 600;
  text-shadow: rgb(255, 255, 255) 1px 1px 10px;
  border-radius: 5px;
  padding: 20px 10px;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.active {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .nav {
    width: 50%;
  }
}
