.section {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  /* padding: 20px 10px; */
}

.nav {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  z-index: 500;
}

.link {
  font-weight: 600;
  text-shadow: rgb(255, 255, 255) 1px 1px 10px;
  background-color: #ffffff55;
  border-radius: 5px;
  padding: 20px 10px;
}

.link:hover, .link:focus{
    color: var(--accent-color);
}

.active {
  color: var(--accent-color);
}


@media screen and (min-width: 768px) {
.nav {
  width: 80%;

}
}

@media screen and (min-width: 1440px) {
}
